.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--ad-pages-bg, var(--ad-home-bg, rgba(255, 255, 255, 0.1)));
}

.header {
  padding-bottom: 24px;
}

.content {
  flex: 1;
}
