name: Release Electron App

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  release:
    strategy:
      matrix:
        include:
          - os: macos-latest
            platform: mac
            command: build:mac
          - os: windows-latest
            platform: win
            command: build:win

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build Dependencies
        run: |
          pnpm --filter @soundx/ws run build
          pnpm --filter @soundx/utils run build
          pnpm --filter @soundx/db run generate

      - name: Build Electron App
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        # Runs the platform specific build command defined in package.json
        run: pnpm --filter sound-x run ${{ matrix.command }}

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            apps/desktop/release/*.dmg
            apps/desktop/release/*.zip
            apps/desktop/release/*.exe
            apps/desktop/release/*.blockmap
            apps/desktop/release/latest*.yml
